<div class="detail-main">
  <div class="article-wrapper">
    <div class="article-haeder">
      <p>
      <%= link_to "名前", "#" %>さんが
      <%= @article.created_at.strftime '%Y年%-m月%-d日' %>に投稿
      <div class="card-tag">
        <% @article.tag_list.each do |tag| %>
          <%= link_to "##{tag}", articles_path(tag_name: tag) %>
        <% end %>
      </div>
      </p>
      <tr id="article_<%= @article.id %>">
        <%= render partial: 'like', article: @article %>
      </tr>
      <h2><%= @article.title %></h2>
    </div>
    <div class="article-main">
      <%= @article.article1 %><br />
      <% if @article.image1.present? %>
      <%= image_tag attachment_url(@article, :image1, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image2.present? %>
      <%= @article.article2 %><br />
      <% end %>
      <% if @article.image2.present? %>
      <%= image_tag attachment_url(@article, :image2, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image3.present? %>
      <%= @article.article3 %><br />
      <% end %>
      <% if @article.image3.present? %>
      <%= image_tag attachment_url(@article, :image3, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image4.present? %>
      <%= @article.article4 %><br />
      <% end %>
      <% if @article.image4.present? %>
      <%= image_tag attachment_url(@article, :image4, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image5.present? %>
      <%= @article.article5 %><br />
      <% end %>
      <% if @article.image5.present? %>
      <%= image_tag attachment_url(@article, :image5, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image6.present? %>
      <%= @article.article6 %><br />
      <% end %>
      <% if @article.image6.present? %>
      <%= image_tag attachment_url(@article, :image6, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image7.present? %>
      <%= @article.article7 %><br />
      <% end %>
      <% if @article.image7.present? %>
      <%= image_tag attachment_url(@article, :image7, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image8.present? %>
      <%= @article.article8 %><br />
      <% end %>
      <% if @article.image8.present? %>
      <%= image_tag attachment_url(@article, :image8, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image9.present? %>
      <%= @article.article9 %><br />
      <% end %>
      <% if @article.image9.present? %>
      <%= image_tag attachment_url(@article, :image9, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image10.present? %>
      <%= @article.article10 %><br />
      <% end %>
      <% if @article.image10.present? %>
      <%= image_tag attachment_url(@article, :image10, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.article11.present? %>
      <%= @article.article11 %><br />
      <% end %>
    </div>
  </div>
    <div class="article-operation">
      <% if user_signed_in? %>
        <% if current_user.id == @article.user_id %>
              <%= link_to "記事の編集", edit_article_path(@article.id), method: :get, class: "item-red-btn" %>
              <%= link_to "記事の削除", article_path(@article.id), method: :delete, class:"item-destroy" %>
        <% end %>
      <% end %>
    </div>
    <div class="comments-container">
      <% if user_signed_in? %>
        <%= form_with(model: [@article,@comment], local: true) do |form| %>
          <%= form.text_area :text, placeholder: "コメントする", rows: "2" %>
          <%= form.submit "SEND" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="comments">
        <h4>＜コメント一覧＞</h4>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      </div>
    </div>
</div>