<div class="post-container">
  <%= form_with model:@article, url:posts_path, local: true do |f| %>

  <%# <%= render 'shared/error_messages', model: f.object %> 

    <div class="new-post">
      <div class="article-title">
        <%= f.text_area :title, class:"article-title", id:"article-title", placeholder:"タイトル(40文字まで)", maxlength:"40" %>
      </div>
      <div class="article-tag">
      </div>
      <div class="article-text">
        <%= f.text_area :article1, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>
      <div class="article-image">
        <%= f.attachment_field :image1 %>
      </div>

      <div class="article-text">
        <%= f.text_area :article2, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>
      <div class="article-image">
        <%= f.attachment_field :image2 %>
      </div>

      <div class="article-text">
        <%= f.text_area :article3, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>
      <div class="article-image">
        <%= f.attachment_field :image3 %>
      </div>

      <div class="article-text">
        <%= f.text_area :article4, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>
      <div class="article-image">
        <%= f.attachment_field :image4 %>
      </div>

      <div class="article-text">
        <%= f.text_area :article5, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>
      <div class="article-image">
        <%= f.attachment_field :image5 %>
      </div>

      <div class="article-text">
        <%= f.text_area :article6, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>
      <div class="article-image">
        <%= f.attachment_field :image6 %>
      </div>

      <div class="article-text">
        <%= f.text_area :article7, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>
      <div class="article-image">
        <%= f.attachment_field :image7 %>
      </div>

      <div class="article-text">
        <%= f.text_area :article8, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>
      <div class="article-image">
        <%= f.attachment_field :image8 %>
      </div>

      <div class="article-text">
        <%= f.text_area :article9, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>
      <div class="article-image">
        <%= f.attachment_field :image9 %>
      </div>

      <div class="article-text">
        <%= f.text_area :article10, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>
      <div class="article-image">
        <%= f.attachment_field :image10 %>
      </div>

      <div class="article-text">
        <%= f.text_area :article11, class:"article-text", id:"article-text", placeholder:"あなたの教育活動のノウハウや経験を書いてください。(1000文字まで)",rows:"10" ,maxlength:"1000", size: "x10" %>
      </div>

      <div class="post-submit">
        <%= f.submit "投稿する" , class:"post-btn" %>
      </div>

    </div>

  <% end %>
</div>