<div class="detail-main">
  <div class="article-wrapper">
    <div class="article-haeder">
      <p>
      <%= link_to "名前", "#" %>さんが
      <%= @article.created_at.strftime '%Y年%-m月%-d日' %>に投稿
      </p>
      <h2><%= @article.title %></h2>
    </div>
    <div class="article-main">
      <%= @article.article1 %><br />
      <% if @article.image1.present? %>
      <%= image_tag attachment_url(@article, :image1, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image2.present? %>
      <%= @article.article2 %><br />
      <% end %>
      <% if @article.image2.present? %>
      <%= image_tag attachment_url(@article, :image2, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image3.present? %>
      <%= @article.article3 %><br />
      <% end %>
      <% if @article.image3.present? %>
      <%= image_tag attachment_url(@article, :image3, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image4.present? %>
      <%= @article.article4 %><br />
      <% end %>
      <% if @article.image4.present? %>
      <%= image_tag attachment_url(@article, :image4, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image5.present? %>
      <%= @article.article5 %><br />
      <% end %>
      <% if @article.image5.present? %>
      <%= image_tag attachment_url(@article, :image5, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image6.present? %>
      <%= @article.article6 %><br />
      <% end %>
      <% if @article.image6.present? %>
      <%= image_tag attachment_url(@article, :image6, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image7.present? %>
      <%= @article.article7 %><br />
      <% end %>
      <% if @article.image7.present? %>
      <%= image_tag attachment_url(@article, :image7, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image8.present? %>
      <%= @article.article8 %><br />
      <% end %>
      <% if @article.image8.present? %>
      <%= image_tag attachment_url(@article, :image8, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image9.present? %>
      <%= @article.article9 %><br />
      <% end %>
      <% if @article.image9.present? %>
      <%= image_tag attachment_url(@article, :image9, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.image10.present? %>
      <%= @article.article10 %><br />
      <% end %>
      <% if @article.image10.present? %>
      <%= image_tag attachment_url(@article, :image10, :fill, 300, 300, format: "jpg") %><br />
      <% end %>

      <% if @article.article11.present? %>
      <%= @article.article11 %><br />
      <% end %>
    </div>
  </div>
  <div class="article-operation">
    <% if current_user.id == @article.user_id %>
          <%= link_to "商品の編集", edit_post_path(@article.id), method: :get, class: "item-red-btn" %>
          <p class="or-text">or</p>
          <%= link_to "削除", post_path(@article.id), method: :delete, class:"item-destroy" %>
    <% end %>
  </div>
</div>